
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore

android/.gradle
android/.idea
android/gradle
android/android.iml
android/gradlew
android/gradlew.bat
android/local.properties

